* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body tag here is setting up background color, text color and font for entire document */

body {
    background-color: #d9dcd6;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header and footer use the same font so they're grouped together here */

header, footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* padding and color that are unique to header */

header {
    padding: 20px;
    background-color: #2a607c;
}

/* unique first header details */

h1 {
    display: inline-block;
    font-size: 48px;
}

/* text color change to make the seo of 'horiseon' stand out, just like Search Engine Optimization */

#seo {
    color: #d9dcd6;
}

/* main layout of navbar */

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    list-style-type: none;
}

/* layout for list items inside the navbar */

nav li {
    display: inline-block;
    margin-left: 25px;
}

/* makes links in the navbar appear white and not underlined */

nav a {
    text-decoration: none;
    color: #ffffff;
}

/* background image to make the initial view look good */

.hero-background {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* font size for p elements */

p {
    font-size: 16px;
}

/* class to make a division float to the left */

.float-left {
    float: left;
    margin-right: 25px;
}

/* class to make a division float to the right */

.float-right {
    float: right;
    margin-left: 25px;
}

/* article is used to contain the major content of the page */

article {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* content class to style the actual content sections */

.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefits {
    margin-bottom: 32px;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
    color: #000000;
}

.bigtext {
    font-size: 20px;
}
